@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 20px;
}

.control-section{
    padding: 8px 4px;
}

.control-label {
    margin-bottom: 5px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
  }

.range-titles p {
    width: 20px;
}